@page "/Ergebnisanzeige"
@using Automat.Lib.Database.Model
@using Automat.UI.Services
@inject AutomatService _AutomatService;
<div class="row align-items-center">
    <div class="col-7 p-3">
        <h1 style="outline: none!important;">Aut-O-Mat</h1>
        <h2 class="mb-5">Rosenheim 2024</h2>
    </div>
    <div class="col-5 text-center">
        <h3 class="mb-2">Feedback</h3>
                <label for="feedbackslider" class="form-label text-white text-start">Gef채llt dir der Aut-O-Mat?</label>
        <input type="range" class="form-range" min="0" max="6" step="1" id="feedbackslider" @bind="feedback">
        <div class="d-flex justify-content-between text-white">
            <span>Sehr unzufrieden</span>
            <span>Sehr zufrieden</span>
        </div>
        <button disabled="@disabled" class="btn mt-2" style="color: white; background-color: #003d66; border-color: #003d66;" onclick="@FeedbackSenden">@btnText</button>
    </div>
</div>
<div class="row align-items-center">
    <h3 class="mb-3">Dein Ergebnis:</h3>
    @foreach (var automodell in Automodelle)
    {
        <Autovorschau CurrentAutomodell="automodell.Key" Bewertung="automodell.Value"/>
    }
</div>
<div class="row mt-3">
    <div class="col-6 text-center">
        <a href="/Fragenkatalog"><button class="btn btn-lg" style="color: white; background-color: #003d66; border-color: #003d66; margin-right: 10px">Fragenkatalog</button></a>
    </div>
    <div class="col-6 text-center">
        <a href="/Favoritenauswahl"><button class="btn btn-lg" style="color: white; background-color: #003d66; border-color: #003d66;">Favoritenauswahl</button></a>
    </div>
</div>

@code {
    private IDictionary<Automodell, int>? Automodelle { get; set; }

    private int feedback = 3;
    private bool disabled = false;
    private string btnText = "Absenden";
    
    protected override void OnInitialized()
    {
        ErgebnisBerechnen();
    }

    public void ErgebnisBerechnen()
    {
        _AutomatService.getAutomat().GetPr채ferenzrechner().ResetRechner();
        _AutomatService.getAutomat().GetFragenkatalog().DatenAnPr채ferenzrechner();
        _AutomatService.getAutomat().GetFavoritenauswahl().DatenAnPr채ferenzrechner();
        Automodelle = _AutomatService.getAutomat().GetErgebnisanzeige().GetErgebnisAutos(6);
    }

    public void FeedbackSenden()
    {
        btnText = "Gesendet";
        disabled = true;
        _AutomatService.getAutomat().GetErgebnisanzeige().SendFeedback(new Feedback()
        {
            Bewertung = feedback
        });
    }
}