@page "/Ergebnisseite"
<div class="container justify-content-center">
  <div class="row">
    <div class="col-sm">
      Auto 1
    </div>
    <div class="col-sm">
      Auto 2
    </div>
    <div class="col-sm">
      Auto 3
    </div>
  </div>
</div>
@code {
}