@page "/Ergebnisanzeige"
@using Automat.Lib.Database.Model
<div class="row align-items-center">
    <div class="col-7 p-3">
        <h1 style="outline: none!important;">Aut-O-Mat</h1>
        <h2 class="mb-5">Rosenheim 2024</h2>
    </div>
    <div class="col-5 text-center">
        <h3 class="mb-2">Feedback</h3>
                <label for="feedbackslider" class="form-label text-white text-start">Gefällt dir der Aut-O-Mat?</label>
        <input type="range" class="form-range" min="0" max="5" step="1" id="feedbackslider">
        <div class="d-flex justify-content-between text-white">
            <span>Sehr unzufrieden</span>
            <span>Sehr zufrieden</span>
        </div>
        <button class="btn mt-2" style="color: white; background-color: #003d66; border-color: #003d66;">Absenden</button>
    </div>
</div>
<div class="row align-items-center">
    <h3 class="mb-3">Dein Ergebnis:</h3>
    @foreach (var automodell in Automodelle)
    {
        <Autovorschau CurrentAutomodell="automodell"/>
    }
</div>
<div class="row mt-3">
    <div class="col-6 text-start">
        <a href="/Fragenkatalog"><button class="btn btn-lg" style="color: white; background-color: #003d66; border-color: #003d66; margin-right: 10px">Fragenkatalog</button></a>
        <a href="/Favoritenauswahl"><button class="btn btn-lg" style="color: white; background-color: #003d66; border-color: #003d66;">Favoritenauswahl</button></a>
    </div>
    <div class="col-6 text-end">
        <button class="btn btn-lg" style="color: white; background-color: green; border-color: green;">Neu laden</button>
    </div>
</div>

@code {
    private ICollection<Automodell>? Automodelle { get; set; }

    protected override void OnInitialized()
    {
        Automodelle = new List<Automodell>();
        Automodelle.Add(new Automodell()
        {
            AutomodellId = 4,
            Name = "BMW M2 Coupé",
            BildUrl = "./img/autos/bmw_2er/bmw_m2.jpeg"
        });

        Automodelle.Add(new Automodell()
        {
            AutomodellId = 12,
            Name = "BMW M3 Touring",
            BildUrl = "./img/autos/bmw_3er/bmw_m3_touring.jpeg"
        });

        Automodelle.Add(new Automodell()
        {
            AutomodellId = 53,
            Name = "VW Golf GTI",
            BildUrl = "./img/autos/vw_golf/vw_golf_gti.jpeg"
        });

        Automodelle.Add(new Automodell()
        {
            AutomodellId = 68,
            Name = "VW Touareg",
            BildUrl = "./img/autos/vw_touareg/vw_touareg.jpeg"
        });

        Automodelle.Add(new Automodell()
        {
            AutomodellId = 84,
            Name = "Audi RS 4 Avant",
            BildUrl = "./img/autos/audi_a4/audi_rs4.jpg"
        });

        Automodelle.Add(new Automodell()
        {
            AutomodellId = 117,
            Name = "Audi SQ8",
            BildUrl = "./img/autos/audi_q8/audi_sq8.jpeg"
        });
    }
}