@page "/Favoritenauswahl"
@using Automat.Lib.Database.Model
@using Automat.UI.Services
@inject AutomatService _AutomatService
<div class="row mb-5">
    <h3 class="mb-3">Favorisierte Automarken auswählen</h3>
    @foreach (var automarke in Automarken)
    {
        <AutomarkeCard CurrentAutomarke="automarke"/>
    }
</div>
<div class="row mb-4">
    <h3 class="mb-3">Favorisierte Karosserieformen auswählen</h3>
    @foreach (var karosserieform in Karosserieformen)
    {
        <KarosserieformCard CurrentKarosserieform="karosserieform"/>
    }
</div>
<div class="row">
    <div class="col-6 justify-content-start">
        <a href="@BackUrl"><button class="btn btn-lg" style="color: white; background-color: #003d66; border-color: #003d66;">Zurück</button></a>
    </div>
    <div class="col-6 justify-content-end text-end">
        <a href="/Ergebnisanzeige"><button class="btn btn-lg" style="color: white; background-color: #003d66; border-color: #003d66;">Ergebnis</button></a>
    </div>
</div>

@code {
    private ICollection<Automarke>? Automarken { get; set; }
    private ICollection<Karosserieform>? Karosserieformen { get; set; }

    
    [Parameter] public string BackUrl { get; set; } = "/Fragenkatalog";

    protected override void OnInitialized()
    {
        Automarken = _AutomatService.getAutomat().GetFavoritenauswahl().GetAllAutomarken();
        
        Karosserieformen = _AutomatService.getAutomat().GetFavoritenauswahl().GetAllKarosserieformen();
    }
}

