@page "/Fragenkatalog"
@using Automat.Lib.Database.Model
@using Automat.UI.Services

@inject AutomatService _AutomatService


<div class="row mb-2">
        <h3>Fragen beantworten oder überspringen</h3>
    </div>
    @foreach (var bewertungskategorie in Bewertungskategorien)
    {
            <Fragestellung CurrentBewertungskategorie="bewertungskategorie" />
    }
    <div class="row">
        <div class="col-6 justify-content-start">
            <a href="@BackUrl"><button class="btn btn-lg" style="color: white; background-color: #003d66; border-color: #003d66;">Zurück</button></a>
        </div>
        <div class="col-6 justify-content-end text-end">
            <a href="/Ergebnisanzeige"><button class="btn btn-lg" style="color: white; background-color: #003d66; border-color: #003d66;">Ergebnis</button></a>
            <a href="/Favoritenauswahl"><button class="btn btn-lg" style="color: white; background-color: #003d66; border-color: #003d66; margin-left: 10px">Favoritenauswahl</button></a>
            </div>
    </div>

@code {
    private ICollection<Bewertungskategorie>? Bewertungskategorien { get; set; }

    [Parameter] public string BackUrl { get; set; } = "/";
    
    protected override void OnInitialized()
    {
        Bewertungskategorien = _AutomatService.getAutomat().GetFragenkatalog().GetAlleBewertungskategorien();
    }
}