<div class="row align-items-center">
    <div class="col-7 p-3">
        <h1 style="outline: none!important">Aut-O-Mat</h1>
        <h2 class="mb-5">Rosenheim 2024</h2>
        <h3>Die Entscheidungshilfe bei der Autosuche</h3>
    </div>
    <div class="col-5 text-center">
        <a href="/Fragenkatalog"><button class="btn btn-lg m-0" style="color: white; background-color: #003d66; border-color: #003d66;">Starten</button></a>
        <hr class="m-3" style="border: 2px solid white;"/>
        <h4 class="my-3">Oder direkt zu:</h4>
        <div class="row">
            <div class="col-6">
                <a href="/fragenkatalog"><div class="card" style="background-color: #003d66">
                  <img src="./img/fragenkatalog.png" class="card-img-top" alt="Favoriten">
                  <div class="card-body p-2">
                      <h5 class="card-title m-0" style="font-size: 0.8rem">Fragenkatalog</h5>
                  </div>
                </div></a>
            </div>            
            <div class="col-6">
                <a href="/favoritenauswahl">
                    <div class="card" style="background-color: #003d66">
                        <div class="card" style="background-color: #003d66">
                            <img src="./img/favoriten.png" class="card-img-top" alt="Favoriten">
                            <div class="card-body p-2">
                                <h5 class="card-title m-0" style="font-size: 0.8rem">Favoritenauswahl</h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

@page "/"

