@inject NavigationManager NavigationManager;
<div class="container text-center justify-content-center p-5">
    <h3 class="mb-3">Leider ist in der App ein Fehler aufgetreten. Öffne sie erneut und versuche es noch einmal.</h3>
    <button class="btn btn-primary btn-lg" @onclick="HandleClick">Neu laden</button>
</div>
@code {
    [Parameter] 
    public Exception Exception { get; set; }
    
    private void HandleClick()
    {
        NavigationManager.NavigateTo("/", true);
    }
}