@inherits LayoutComponentBase
<TopBar></TopBar>
<div class="d-flex align-items-center justify-content-center" style="height: calc(100vh - 62px)">
    <div class="container mt-5 p-0" style="background-color: rgba(27,28,28,0.9)">
        <NavMenu></NavMenu>
        <div class="container p-4 justify-content-center">
            @Body
        </div>
    </div>
</div>
