<style>
  .nav-link {
    color: #c0bfbf;  
    cursor: pointer;
  }
  
  .nav-link:hover {
      color: white;
  }
  
   .nav-link.active {
      color: white;
   }
   
   .nav-link.active {
      color: white;
   }
   
   .nav-link.disabled {
      color: #939292;
   }
</style>
<nav class="navbar justify-content-center" style="background-color: #003d66; color: white">
  <ul class="nav">
      <li class="nav-item">
        <NavLink class="nav-link" href="#">Start</NavLink>
      </li>
      <li class="nav-item">
        <NavLink class="nav-link" href="/Fragenkatalog">Fragenkatalog</NavLink>
      </li>
      <li class="nav-item">
        <NavLink class="nav-link" href="/Favoritenauswahl">Favoritenauswahl</NavLink>
      </li>
      <li class="nav-item">
        <NavLink class="nav-link" href="/Ergebnisanzeige">Ergebnis</NavLink>
      </li>
  </ul>
</nav>

@code {
   private string title = "Automat";
   private string logo = "/img/blazorwebsitetemplate.webp";
}