<div class="container-fluid" style="background-color: #001e31">
    <div class="d-flex justify-content-center py-2">
        <a class="navbar-brand" href="#" style="color: #ffffff; font-size: 24px">
            <img src="@logo" height="30" class="d-inline-block" style="margin-right: 20px" alt="">
            @title
        </a>
    </div>
</div>

@code {
    private string title = "Aut-O-Mat";
    private string logo = "/img/logo.png";
}