<div class="container-fluid" style="background-color: transparent">
    <div class="d-flex justify-content-center py-2">
        <a class="navbar-brand" href="#" style="color: #ffffff; font-size: 38px">
            <img src="@logo" height="50px" class="d-inline-block mb-1" style="margin-right: 15px" alt="">
            @title
        </a>
    </div>
</div>

@code {
    private string title = "Aut-O-Mat";
    private string logo = "/img/logo.png";
}